decima {
  host = "localhost"
  port = {{ SERVICE_PORT }}
}

c3p0 {
  jdbcUrl = "jdbc:postgresql://{{ PG_DB_HOST }}:{{ PG_DB_PORT }}/{{ PG_DB_NAME }}"
  user = "{{ PG_DB_USER }}"
  password = "{% include "/dev/shm/decima-db-pw.credentials" %}"
#  minPoolSize = 1
#  acquireIncrement = 1
#  maxPoolSize = 50
}
