<body class="body">
  <div class="w-section header">
    <div class="w-container">
      <a class="w-clearfix w-inline-block header-link" href="#"><img class="header-img" width="201" height="100" src="images/socrata-logo.svg">
      </a>
      <div class="header-text">Decima -- Deployment Tracking</div>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container">
      <div class="service">
        <h3>frontend</h3>
        <div class="w-row">
          <div class="w-col w-col-3 left-column column rc">
            <div class="left-column right-column">RC</div>
          </div>
          <div class="w-col w-col-3 center-column column west-prod">
            <div class="left-column right-column">west-prod</div>
          </div>
          <div class="w-col w-col-3 center-column column eu-prod">
            <div class="left-column right-column">eu-prod</div>
          </div>
          <div class="w-col w-col-3 right-column column fedramp">
            <div class="left-column right-column">fedramp-prod</div>
          </div>
        </div>
      </div>
      <div class="service">
        <h3>data-coordinator</h3>
        <div class="w-row">
          <div class="w-col w-col-3 left-column column rc">
            <div class="left-column right-column">RC</div>
          </div>
          <div class="w-col w-col-3 center-column column west-prod">
            <div class="left-column right-column">west-prod</div>
          </div>
          <div class="w-col w-col-3 center-column column eu-prod">
            <div class="left-column right-column">eu-prod</div>
          </div>
          <div class="w-col w-col-3 right-column column fedramp">
            <div class="left-column right-column">fedramp-prod</div>
          </div>
        </div>
      </div>
      <div class="service">
        <h3>cetera-etl</h3>
        <div class="w-row">
          <div class="w-col w-col-3 left-column column rc">
            <div class="left-column right-column">RC</div>
          </div>
          <div class="w-col w-col-3 center-column column west-prod">
            <div class="left-column right-column">west-prod</div>
          </div>
          <div class="w-col w-col-3 center-column column eu-prod">
            <div class="left-column right-column">eu-prod</div>
          </div>
          <div class="w-col w-col-3 right-column column fedramp">
            <div class="left-column right-column">fedramp-prod</div>
          </div>
        </div>
      </div>
      <div class="service">
        <h3>core</h3>
        <div class="w-row">
          <div class="w-col w-col-3 left-column column rc">
            <div class="left-column right-column">RC</div>
          </div>
          <div class="w-col w-col-3 center-column column west-prod">
            <div class="left-column right-column">west-prod</div>
          </div>
          <div class="w-col w-col-3 center-column column eu-prod">
            <div class="left-column right-column">eu-prod</div>
          </div>
          <div class="w-col w-col-3 right-column column fedramp">
            <div class="left-column right-column">fedramp-prod</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
