<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="/moment.js"></script>
    <script src="/index.js"></script>
    <script src="/jquery.stickytableheaders.min.js"></script>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a class="clearfix header-link" href="#">
          <img class="header-img" width="201" height="100" src="/socrata-logo.svg">
        </a>
        <div class="header-text">Decima -- Deployment Tracking</div>
      </div>
        <div class="container" id="services-table-rows"></div>
      </div>
    </div>
    <script id="service-template" type="text/x-handlebars-template">
      <div class="service row">
        <!--<h3>{{service}}</h3>-->
        <div class="col-md-3 service-name">{{service}}</div>
        {{#each environments}}
        <div class="col-md-2 {{col_class}} {{#if match}}{{match}}{{else}}service-column version-na{{/if}}">
          {{environment}}
        </div>
        {{/each}}
      </div>
    </script>
  </body>
</html>
